<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <meta name="generator" content="11ty v{{ pkg.devDependencies['@11ty/eleventy'] | replace('^','') }}"/>
  <meta name="description" content="{{ description or page.description or pkg.description }}"/>
  <meta name="hostname" content="{{ pkg.hostname }}"/>
  <meta name="keywords" content="{{ pkg.keywords }}"/>

{%- block metaogp -%}
  <meta property="og:type" content="website"/>
  <meta property="og:site_name" content="{{ pkg.title }}"/>
  <meta property="og:title" content="{{ title or page.title or pkg.title }}"/>
  <meta property="og:description" content="{{ description or pkg.description }}"/>
  <meta property="og:url" content="{{ url or pkg.homepage }}"/>
  <meta property="og:image" content=""/>
{%- endblock %}

  <meta property="og:locale" content="en_US"/>
  <meta property="og:locale:alternate" content="pt_BR"/>
  <meta property="og:locale:alternate" content="pt_PT"/>

{%- for style in pkg.links.styles %}
  <link rel="stylesheet" type="text/css" href="{{ style | url }}"/>
{%- endfor %}

  <link rel="shortcut icon" type="image/ico" href="{{ '/assets/images/favicon.ico' | url }}" />
  <link rel="icon" type="image/ico" href="{{ '/assets/images/favicon.ico' }}" />

  <title>{{ pkg.title }}{% if title %} - {{ title }}{% endif %}</title>
</head>
<body>
  <aside>
    <main>
      <figure>
        <a href="{{ '/' | url }}"><img src="/assets/images/brand.svg"/></a>
        <figcaption>{{ pkg.title }}</figcaption>
      </figure>

      {%- include "partials/summary.njk" %}
    </main>

    <footer>
    {%- include "partials/about.njk" %}
    </footer>
  </aside>

  <main>
  {%- block content -%}
    <article>
      {{ content | safe }}
    </article>
  {%- endblock -%}
  </main>
</body>
</html>
