@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import "settings.css" screen;

body {
  display: grid;
  gap: var(--grid-gap);
  grid-template-areas: var(--grid-template-areas);
  grid-template-columns: var(--grid-template-columns);
  grid-template-rows: var(--grid-template-rows);
  justify-content: stretch;
  align-content: center;
  justify-items: stretch;
  align-items: stretch;
  margin: 0 auto;
  font-family: 'Playfair Display', serif;
  font-size: 1.00rem;
  color: rgba(0, 0, 0, 0.75);
  background-color: rgba(113, 66, 20, 0.10);
}

body > header {
  grid-area: header;
}

body > main {
  grid-area: main;
  height: auto;
}

body > main p {
  line-height: 1.75rem;
}

body > main pre {
  font-size: 0.80rem;
}

body > aside {
  --padding-h: 2.00rem;

  grid-area: sidebar;
  display: flex;
  height: calc(100% - var(--padding-h) * 2);
  flex-direction: column;
  justify-content: space-between;
  padding-top: var(--padding-h);
  padding-bottom: var(--padding-h);
  text-align: justify;
}

aside > footer {
  font-size: 0.75rem;
}

aside figure img[src="/assets/images/brand.svg"] {
  position: relative;
  display: block;
  margin: 0 auto;
}

aside figure figcaption {
  text-align: center;
}

aside > footer > p {
  margin: 0;
  text-align: center;
}

aside a {
  color: rgba(113, 66, 20, 0.90);
  text-decoration: none;
}

aside a:hover {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.90);
}

body > footer {
  grid-area: footer;
}

article {
  width: var(--article-width);
  height: calc(inherit -1px + 1px);
}

body > header > nav > ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
}

body > header > nav > ul li {
  margin: 0.25rem;
  padding: 0;
  border-radius: calc(1rem / 4);
  /* outline: 1px solid rgba(0, 0, 0, 0.50); */
  box-shadow: 0 0 0.25rem rgba(49,132,253,.5);
}

body > header > nav > ul li:first-child {
  margin-left: 0;
}

body > header > nav > ul li a {
  display: inline-block;
  padding: 0.25rem 0.75rem;
}

h1 {
  border-bottom: 2px solid rgba(113, 66, 20, 0.50);
}

h2 {
  border-bottom: 1px solid rgba(113, 66, 20, 0.10);
}

dl > dt {
  margin-top: 1.00rem;
  margin-bottom: 0.25rem;
}

address ul {
  display: inline-block;
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}

address ul li {
  display: inline-block;
}

address ul li[data-url-tag] {
  border: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
  margin: 0;
  background-color: rgba(113, 66, 20, 0.10);
}

address ul li[data-url-tag]:hover {
  background-color: rgba(113, 66, 20, 0.20);
  transition: background-color 0.50s;
}

address ul li[data-url-tag] a {
  display: inline-block;
  min-width: 6rem;
  padding: 0.25rem 0.50rem;
  color: rgba(0, 0, 0, 0.80);
  font-style: normal;
  font-size: 0.80rem;
  text-decoration: none;
  text-transform: uppercase;
}

address ul li[data-url-tag]:not(:first-child) {
  border-left: none;
}

address ul li[data-url-tag]:first-child {
  border-radius: 2px 0 0 2px;
}

address ul li[data-url-tag]:last-child {
  border-radius: 0 2px 2px 0;
}

.hljs {
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
