/* Convertion: 1rem ~= 16px */

:root {
  --grid-gap: 1.00rem;
  --grid-template-areas:
  "sidebar header"
  "sidebar main"
  "sidebar footer";
  --grid-column-width: calc(var(--page-width) / 4);
  --grid-template-columns: var(--grid-column-width) calc(var(--grid-column-width) * 3);
  --grid-template-rows: auto;

  --page-width: 960px;
  --page-column-width: calc(var(--page-width) / 4);

  --article-width: 100%;
  --article-column-width: 50%;
  --article-column-count: 2;

  font-family: sans-serif;
}

@media (min-width: 320px) and (max-width: 480px) {
/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  :root {
    --page-width: 100vw;
    --article-column-width: 100%;
    --article-column-count: 1;
    --grid-template-areas:
    "sidebar"
    "header"
    "main"
    "footer";
    --grid-template-columns: 100%;
    --grid-template-rows: 20% 10% 50% 20%;
  }

  body {
    margin: 0 1.00rem !important;
  }
}

@media (min-width: 481px) and (max-width: 640px){
/* smartphones, Android phones, landscape iPhone */
  :root {
    --article-column-width: 100%;
    --article-column-count: 1;
    --grid-template-areas:
    "sidebar"
    "header"
    "main"
    "footer";
    --grid-template-columns: 100%;
    --grid-template-rows: 20% 10% 50% 20%;
  }
}

@media (min-width: 641px) and (max-width: 960px){
/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  :root {
    --grid-template-areas:
    "sidebar"
    "header"
    "main"
    "footer";
    --grid-template-columns: 100%;
    --grid-template-rows: 20% 10% 50% 20%;
  }
}

@media (min-width: 961px) and (max-width: 1024px){
/* tablet, landscape iPad, lo-res laptops ands desktops */
  :root {
  }
}

@media (min-width: 1025px) {
/* big landscape tablets, laptops, and desktops */
  :root {
  }
  body {
    width: calc(var(--page-width) + var(--grid-gap));
    padding: 0 calc(var(--grid-gap) / 2);
  }

  body > aside {
    position: fixed;
    width: var(--page-column-width);
  }
  body > main {
    width: calc(var(--page-column-width) * 3);
  }
}

